<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.costa.senseit">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconsenseit"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconsenseit"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".welcomeactivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".heartactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lungactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".o2activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".no2activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".createprofileactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".no2instructions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".o2instructions"
            android:screenOrientation="portrait" />
        <activity android:name=".chooseprofileactivity" />
        <activity android:name=".heartinstructions" />
        <activity android:name=".lunginstructions" />


        <service android:enabled="true" android:name="com.example.costa.senseit.BluetoothService"/>


    </application>


</manifest>